@media (max-width: 770px) {
        .container > .top > a {
            width: 70%;
            margin-left: 15%;
        }
    .container > .main {
        grid-template-columns: 1fr 90% 1fr;
    }
        .container > .main > .planet {
            grid-column: 2/3;
        }
    .container > .bottom {
        grid-template-columns: 50% 50%;
    }
        .container > .bottom > .moons {
            width: 90%;
            margin: 15px 5% 20px 5%;
        }
        .container > .bottom > .links {
            width: 90%;
            margin: 15px 10% 20px 0%;
            padding: 10px 0%;
        }
            .container > .bottom > .links > span {
                width: 100%;
                padding-top: 2px;
            }
                .container > .bottom > .links > a {
                    width: 40%;
                    margin: 10px 5%;
                    float: left;
                }
}

 @media (max-width: 550px) {
        .container > .top {
            padding-bottom: 10px;
        }
            .container > .top > a {
                width: 80%;
                margin-left: 10%;
            }
        .container > .main {
            margin: 10px 0%;
        }
            .container > .main > .text {
                padding: 3%;
            }
                .container > .main > .text > h1 {
                    margin: 5px 0% 10px 0;
                }
        .container > .bottom {
            margin: 1px 0% 25px 0%;
            grid-template-columns: 1fr 90% 1fr;
        }
            .container > .bottom > .moons {
                grid-column: 2/3;
                width: 100%;
                margin: 20px 0%;
            }
                .moonstxt {
                    text-align: center;
                }
                    .moonsall > .moonstxt {
                        width: 100%;
                        margin: 2px 0%;                        
                    }
            .container > .bottom > .links {
                grid-column: 2/3;
                width: 90%;
                margin: 5px 5%;
                padding: 10px 0%;
            }
                .container > .bottom > .links > span {
                    width: 100%;
                    padding-top: 1px;
                }
}