:root {
    --sizey: 20vh;
}
body {
    background-color: #0d1114;
    background-image: url("../../img/black-hole.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}
    a {
        float: right;
        padding: 8vw;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-top: calc( 26vw - 8vw );
        margin-right: calc( 28.3vw - 2vw );
        text-align: center;
        text-transform: uppercase;
        font-family: Verdana;
        font-size: 1.3vw;
        color: #e6ebef;
        text-decoration: none;
    }
    a:hover {
        background-image: url(../../img/circle.png);
        background-size: 17vw;
        background-repeat: no-repeat;
        background-position: center;
    }