.background {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-areas: 
        '. titulinis .'
        '. innerp .'
        '. outerp .'
        '. ekstrab .'
        '. apacia .';
    width: 100%;
}
    .titulinis {
        background-color: brown;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-area: titulinis;
        width: 100%;
    }
        .logo {
            display: inline-block;
            grid-column: 1/2;
        }
            .logo > img {
                display: inline-block;
                width: 90%;
                margin: 10px 5%;
            }
    .innerplanets {
        background-color: burlywood;
        display: inline-block;
        grid-area: innerp;
    }
    .outerplanets {
        background-color: darkgreen;
        display: inline-block;
        grid-area: outerp;
    }
    .extrabodies {
        background-color: darkseagreen;
        display: inline-block;
        grid-area: ekstrab;
    }
    .apacia {
        background-color: darkturquoise;
        display: inline-block;
        grid-area: apacia;
    }
    