.button {
    display: inline-block;
    color: white;
    padding: 4px 6px;
    border: 1px white solid;
    border-radius: 8px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}
.button:hover {
    border: 2px white solid;
    padding: 3px 5px;
    cursor: pointer;
}
.button:active {
    color: black;
    background-color: white;
    border: 3px black solid;
    padding: 2px 4px;
    cursor: pointer;
}
.button:focus {
    outline: none;
}