.planetcont {
    width: 90%;
    margin: 0% 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    transition: 2s;
}
.planetcont > a {
    display: inline-block;
    width: 90%;
    padding: 5%;
}
.planetcont > a:active {
    filter: brightness(1.5);
}
    .planetcont > a > span {
        display: inline-block;
        position: absolute;
        z-index: 1; 
        padding: 2%;
        line-height: 26px;
        font-size: 22px;
        font-family: monospace;
        text-transform: uppercase;
        text-decoration: underline;
        color: white;

    }
    .planetcont > a > img {
        display: inline-block;
        width: 80%;
        margin: 10%;
        z-index: -1;
        filter: saturate(0.5) blur(1px);
        transition: 2s;
    }
        .planetcont:hover > a:hover > img {
        filter: saturate(1) blur(0);
        width: 100%;
        margin: 0;
    }
        .planetcont:hover > a:not(:hover) > img {
        filter: saturate(0) blur(20px);;
    }